{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-success">  
    	<a class="close" data-dismiss="alert">×</a>  
        {{ flashMessage }}
        <b><a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">Click Here</a></b> to return to Event Dashboard.
    </div>
{% endfor %}
<div class="container">
<div class="page-header">
	<h1>Arrivals Ordering <font color="blue"><a href="">{{ event.eventName }}</a></font></h1>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-8">
<ul id="sortable">
{% for image in images %}
	<li id="{{ image.event.eventId }}_{{image.id}}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
	 <a href="{{ path('entertainment_arrivals_gallery_update', {'arrivalId': image.id}) }}">{{image.title}}</a>
    <a href=""><span style="padding: 10px 10px 0; float: right;" class="glyphicon glyphicon-trash float: right;"></span></a></li>
{% endfor %}
</ul>
</div>
<div class="col-md-2">
    <button id="savepostion" name="submit" type="submit" class="btn btn-lg btn-success">Save Order &raquo;</button>
</div>
	</div>
</div>
</div>
{% endblock %}