{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-success">  
    	<a class="close" data-dismiss="alert">×</a>  
        {{ flashMessage }}
        <b><a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">Click Here</a></b> to return to Event Dashboard.
    </div>
{% endfor %}
<div class="container">
<div class="page-header">
	<h1>Event Config - <font color="blue"><a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a></font></h1>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="tabbable">
	  		<div id="tabs">	
			    <ul class="nav nav-tabs">
			    	<li><a href="#pane1" data-toggle="tab">General</a></li>
			    	<li><a href="#pane2" data-toggle="tab">URLs</a></li>
			    	<li><a href="#pane3" data-toggle="tab">Ads</a></li>
			  	</ul>
	  		</div>
	    <p></p>
		<form method="post" action="" class="form-horizontal" role="form">
		<input type="hidden" name="event-id" value="{{ event.id }}" />
		<div class="tab-content">
	    	<div id="pane1" class="tab-pane active">	
			<div class="form-group">
				<label class="col-xs-2 control-label">Site State</label>
				<div class="col-xs-10">
			        <select class="form-control" name="site-state" id="site-state" size="1">
			             <option value="arrivals" {% if event.eventState == "arrivals" %} selected {% endif %}>Arrivals</option>
			             <option value="arrivals-video" {% if event.eventState == "arrivals-video" %} selected {% endif %}>Arrivals Video</option>
			             <option value="coverage" {% if event.eventState == "coverage" %} selected {% endif %}>Coverage</option>
			        </select>
			    </div>
			</div>	
			<div class="form-group">
				<label class="col-xs-2 control-label">Event Name</label>
				<div class="col-xs-6">
			        <input class="form-control" type="text" name="event-name" id="event-name" size="36" required="required" value="{{ event.eventName }}"/>
			    </div>
			</div>
			 <div class="form-group">      
                <label class="col-sm-2 control-label">PID</label>
	            <div class="col-xs-2">
	            	<input type="text" class="form-control" name="general-pid" id="general-pid" value="{{ event.packageId }}" />
	            </div>
	        </div>
			<div class="form-group" id="arrivals-video">
				<label class="col-xs-2 control-label">Arrivals Video</label>
				<div class="col-xs-10">
			        <input class="form-control" type="text" name="arrivals-video" size="255" value="{{ event.arrivalsVideo }}" />
			    </div>
			</div>
			<div class="form-group" id="arrivals-gallery">
				<label class="col-xs-2 control-label">Arrivals Gallery</label>
				<div class="col-xs-10">
			        <input class="form-control" type="text" name="arrivals-gallery" size="255" value="{{ event.arrivalsGallery }}" />
			    </div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">External Content</label>
				<div class="col-xs-10">
			        <input class="form-control" type="text" name="external-content" id="external-content" size="255"  value="{{ event.externalContent }}" />
			    </div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Editorial Content</label>
				<div class="col-xs-10">
			        <input class="form-control" type="text" name="editorial-content" id="editorial-content" size="255"  value="{{ event.editorialContent }}" />
			    </div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Most Recent</label>
				<div class="col-xs-10">
			        <input class="form-control" type="text" name="most-recent" id="most-recent" size="255"  value="{{ event.mostRecent }}" />
			    </div>
			</div>
		    </div>
		   
		     <div id="pane2" class="tab-pane">
		     <div class="form-group">    
        	<label class="col-sm-2 control-label">Facebook Share</label>
        	<div class="col-xs-6">
      	    <input type="text" class="form-control" name="facebook-share" id="facebook-share" value="" />
   			</div>
   		</div>
   		<div class="form-group">    
        	<label class="col-sm-2 control-label">Package URL</label>
        	<div class="col-xs-6">
      	    <input type="text" class="form-control" name="package-url" id="package-url" value="" />
   			</div>
   		</div>
   		<div class="form-group">    
        	<label class="col-sm-2 control-label">Whitelabel Page URL</label>
        	<div class="col-xs-6">
      	    <input type="text" class="form-control" name="whitelabel-url" id="whitelabel-url" value="" />
   			</div>
   		</div>
   		<div class="form-group">    
        	<label class="col-sm-2 control-label">Mobile Gallery URL</label>
        	<div class="col-xs-6">
      	    <input type="text" class="form-control" name="mobile-gallery-url" id="mobile-gallery-url" value="" />
   			</div>
   		</div>
   		</div>
   		 <div id="pane3" class="tab-pane">
		    <div class="form-group">    
      			<label class="col-sm-2 control-label">Ad Zone</label>
      	 		<div class="col-xs-6">
      	 		  <input type="text" class="form-control" name="arrivals-ad-zone" id="arrivals-ad-zone" value="" />
      			</div>
      		</div>
      	    <div class="form-group">    
      		    <label class="col-sm-2 control-label">Ad Subject</label>
      	 	    <div class="col-xs-6">
      	 		   <input type="text" class="form-control" name="arrivals-ad-subject" id="arrivals-ad-subject" value="" />
      		    </div>
      	    </div>
      	    <div class="form-group">    
      		<label class="col-sm-2 control-label">HP has ads?</label>
      	 	<div class="col-sm-4">
      	 		 <select class="form-control" name="arrivals-hp-has-ads" id="arrivals-hp-has-ads" size="1">
                        <option value="0" selected="selected" disabled="disabled">Please choose</option>
                        <option value="1" selected="selected">Yes</option>
                        <option value="2" selected="selected">No</option>
                    </select>
      	 	</div>
      	</div>
      	<div class="form-group">    
      		<label class="col-sm-2 control-label">Arrivals Ads</label>
      	 	<div class="col-sm-4">
  	 		   <select class="form-control" name="arrivals-has-ads" id="arrivals-has-ads" size="1" >
                    <option value="0" selected="selected" disabled="disabled">Please choose</option>
                    <option value="1" selected="selected">Yes</option>
                    <option value="2" selected="selected">No</option>
                </select>
      	 	</div>
      	</div>     	
      	<div class="form-group">    
      		<label class="col-sm-2 control-label">Mobile Arrivals Ads</label>
      	 	<div class="col-sm-4">
      	 		 <select class="form-control" name="arrivals-mobile-has-ads" id="arrivals-mobile-has-ads" size="1">
                        <option value="0" selected="selected" disabled="disabled">Please choose</option>
                        <option value="1" selected="selected">Yes</option>
                        <option value="2" selected="selected">No</option>
                    </select>
      	 	</div>
      	</div>	
      		<div class="form-group">
            <label class="col-sm-2 control-label">Ad Size</label>
            	<div class="col-sm-4">
                        <select class="form-control" name="ad-size" id="ad-size" size="1">
                            <option value="" selected="selected" disabled="disabled">Please choose</option>
                            <option value="small" selected="selected">small</option>
                            <option value="large" >large</option>
                            <option value="small-sponsored" >small-sponsored</option>
                            <option value="large-sponsored" >large-sponsored</option>
                        </select>
               </div>
           </div>
		    </div>	
		    
		    <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10"> 
					<button name="submit" type="submit" class="btn btn-lg btn-success">Submit &raquo;</button>
				</div>
			</div>
	    </div>
	</div>
	</div>
	<div class="col-md-6"> 
		<div class="form-group">
			<label class="col-sm-6 col-sm-offset-3 control-label">Application Selection</label>
			<div class="col-sm-offset-3 col-sm-6"> 
				<input type="checkbox" name="arrivals" value="1" {% if event.isArrivals %} checked {% endif %}> Arrivals Gallery</input><br/>
				<input type="checkbox" name="gts" value="1" {% if event.isGuideToStars %} checked {% endif %}> Guide To The Stars</input><br/>
			    <input type="checkbox" name="brackets" value="1" {% if event.isBrackets %} checked {% endif %}> Bracketology</input><br/>
			    <input type="checkbox" name="brackets" value="1"> Polls</input><br/>
			</div>
		</div>
	</div>
	</form>
</div>
</div>
{% endblock %}