{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
    <div class="page-header">
        <h1>Event Dashboard : <font color="blue">{{ event.eventName }}</font></h1>
    </div>
        <div class="col-sm-4">
          {% if event.isArrivals %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;Arrivals</h3>
            </div>
            <div class="panel-body">
                <a href="{{ path('entertainment_arrivals_gallery_create', {'eventId': event.id}) }}">Create Arrivals</a><br/>
        	    <a href="{{ path('entertainment_arrivals_gallery_position', {'eventId': event.id}) }}">Published Arrivals</a><br/>
        	    {% if images %}
	        	    <hr/>
	        	    <h4>Most Recent Arrivals</h4>
	        	    {% for image in images %}
	        	    	{{ image.title }} <br/>
	        	    {% endfor %}
	            {% endif %}
            </div>
          </div>
          {% endif %}
          {% if event.isGuideToStars %} 
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-flash"></span>&nbsp;Guide To The Stars</h3>
            </div>
            <div class="panel-body">
              <a href="">View All Stars</a><br/>
              <a href="{{ path('entertainment_guidetothestars_category_create', {'eventId': event.id}) }}">Create Category</a><br/>
              <a href="">Create Star</a><br/>
            </div>
          </div>
          {% endif %}
          {% if event.isBrackets %}
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;Bracketology</h3>
            </div>
            <div class="panel-body">
              TBD...
            </div>
          </div>
          {% endif %}
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
        	<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-link"></span>&nbsp;JSON Feeds</h3>
            </div>
            <div class="panel-body">
               <a href="" target="_blank">Config</a><br/>
               <a href="" target="_blank">Arrival</a><br/>
            </div>
          </div>
         
        </div><!-- /.col-sm-4 -->
         <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item active">
                <span class="glyphicon glyphicon-tower"></span>&nbsp;General Event Information 
            </li>
            <li class="list-group-item">
                <b>Event Name: </b>{{ event.eventName }}            
            </li>
            <li class="list-group-item">
                <b>Short Name: </b>{{ event.eventShortName }}
            </li>
            <li class="list-group-item">
                <b>Site State: </b>{{ event.eventState }}
            </li>
            <li class="list-group-item">
               <b>Package URL: </b> 
           </li>
            <li class="list-group-item">
               <b>Whitelabel Page URL: </b>
           </li>
            <li class="list-group-item">
               <b>Mobile Gallery URL: </b> 
           </li>
         </ul> 
        </div><!-- /.col-sm-4 -->
      </div>
{% endblock %}