{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success">  
	<a class="close" data-dismiss="alert">×</a>  
        {{ flashMessage }}
</div>
{% endfor %}
<div class="container">
<ol class="breadcrumb">
  <li>  
    <a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a>
  </li>  
  <li>
  	<a href="{{ path('entertainment_guidetothestars_star_index', {'eventId': event.id}) }}">Guide To The Stars</a>
  	
  </li>  
  <li class="active">Add Content</li>
</ol>  
	<p></p>	
	<div class="event-text">
		<h1>Add Content -- {{ star.starName}}</h1>
	</div>
<div class="row">
  <div class="col-xs-6 col-md-4"><!-- Button trigger modal -->
 	<div class="btn-group-vertical">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#videoType">
  Video
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#imageType">
  Image
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quoteType">
  Quote
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#factType">
  Fun Fact
</button>
<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#factType">
  Twitter Post
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="videoType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Video Content -- {{ star.starName}}</h4>
      </div>
      <div class="modal-body">
        <form id="form-video" name="form-video" method="post" action="" class="form-horizontal" role="form">
        <input type="hidden" value="video" name="type" />
        <input type="hidden" value="1" name="asset-create" />
        <div class="container">
		     <div class="row">
		     	<div class="form-group">
	         			<div class="col-sm-6">
	         				<input class="form-control input-lg" type="text" name="title" size="255" placeholder="Video Title (CMS only)"/>
	         		   </div>
	            </div>
		     	<div class="form-group">
	         			<div class="col-sm-6">
	         				<input class="form-control input-lg" type="text" name="video-id" id="video-id" size="255" placeholder="Video ID (Brightcove or Vignette)"/>
	         		   </div>
	            </div>
        		<div class="form-group">
	         			<div class="col-sm-6">
	         				<textarea name="video-embed" class="form-control" rows="3" placeHolder="Video Embed Code"></textarea>
	         		   </div>
	            </div>
	            <!--
	            	Twitter & Facebook only on Update
         		<div class="form-group">
	         		<div class="col-sm-6">
	         	 		<textarea name="video-twitter" class="form-control" rows="3" placeHolder="Twitter Text"></textarea>
	         		</div>
	     		</div>	
			    <div class="form-group">
			        <div class="col-sm-6">
			        	 <textarea name="video-facebook" class="form-control" rows="3" placeHolder="Facebook Share Text"></textarea>
			        </div>
			    </div>
			   -->			     		     
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button name="submit" type="submit" value="video-submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="imageType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image Content  -- {{ star.starName}}</h4>
      </div>
      <div class="modal-body">
      <form id="form-tout" name="form-tout" method="post" action="" class="form-horizontal" role="form" enctype="multipart/form-data">
      <input type="hidden" value="image" name="type" />
      <input type="hidden" value="1" name="asset-create" />
       <div class="container">
		     <div class="row">
		     	<div class="form-group">
	         			<div class="col-sm-6">
	         				<input class="form-control input-lg" type="text" name="title" size="255" placeholder="Image Title (CMS only)"/>
	         		   </div>
	            </div>
	      		 <div class="form-group">
				     <div class="col-sm-6">
					      <input class="form-control input-lg" type="text" name="image-title" id="quote" size="255" placeholder="Title"/>
				     </div>
			     </div>
			     <div class="form-group">
				     <div class="col-sm-6">
					      <input class="form-control input-lg" type="text" name="image-url" id="quote" size="255" placeholder="URL"/>
				     </div>
			     </div>
			     <div class="form-group">
					 <label class="col-md-10">Image</label>
					 <div class="col-sm-6">
						<input type="file" name="image-name">
					 </div>
				</div>
				<div class="form-group">
				     <div class="col-sm-6">
					      <input class="form-control input-lg" type="text" name="image-caption" id="quote" size="255" placeholder="Caption"/>
				     </div>
			     </div>
			     <div class="form-group">
				     <div class="col-sm-6">
					      <input class="form-control input-lg" type="text" name="image-credit" id="quote" size="255" placeholder="Credit"/>
				     </div>
			     </div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button name="submit" type="submit" value="image-submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="quoteType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Quote Content  -- {{ star.starName}}</h4>
      </div>
      <div class="modal-body">
      	 <form id="" method="post" action="" class="form-horizontal" role="form" enctype="multipart/form-data">
      	 <input type="hidden" value="quote" name="type" />
      	 <input type="hidden" value="1" name="asset-create" />
      	 <div class="container">
		     <div class="row">
		     	<div class="form-group">
	         			<div class="col-sm-6">
	         				<input class="form-control input-lg" type="text" name="title" size="255" placeholder="Quote Title (CMS only)"/>
	         		   </div>
	            </div>
	             <div class="form-group">
			         <div class="col-sm-6">
				         <input class="form-control input-lg" type="text" name="quote-credit" id="quote-credit" size="255" placeholder="Quote Credit"/>
			         </div>
		         </div>
		          <div class="form-group">
			         <div class="col-sm-6">
				          <textarea name="quote" class="form-control" rows="3" placeHolder="Quote"></textarea>
			         </div>
		         </div>
		         <div class="form-group">
					 <label class="col-md-10">Quote Image</label>
					 <div class="col-sm-6">
						<input type="file" name="quote-image">
					 </div>
				</div>
		     </div>
		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button name="submit" type="submit" value="quote-submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="factType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Fact Content  -- {{ star.starName}}</h4>
      </div>
      <div class="modal-body">
      <form id="fact-form" name="fact-form" method="post" action="" class="form-horizontal" role="form">
      <input type="hidden" value="fact" name="type" />
      <input type="hidden" value="1" name="asset-create" />
       <div class="container">
		     <div class="row">
		     	<div class="form-group">
	         			<div class="col-sm-6">
	         				<input class="form-control input-lg" type="text" name="title" size="255" placeholder="Fun Fact Title (CMS only)"/>
	         		   </div>
	            </div>
	             <div class="form-group">
			         <div class="col-sm-6">
			         	 <textarea name="fact-content" class="form-control" rows="3" placeHolder="Fun Fact"></textarea>
			         </div>
			     </div>
			     <!--
			      <div class="form-group">
			         <div class="col-sm-6">
			         	 <textarea name="fact-twitter" class="form-control" rows="3" placeHolder="Twitter Text"></textarea>
			         </div>
			     </div>	
			     <div class="form-group">
			         <div class="col-sm-6">
			         	 <textarea name="fact-facebook" class="form-control" rows="3" placeHolder="Facebook Share Text"></textarea>
			         </div>
			     </div>
			     -->			     		     
			 </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button name="submit" type="submit" value="fact-submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-xs-12 col-md-8">
<div class="container">
<div class="row">
	<div class="col-md-8">
<ul id="sortable">
{% for key, asset in assets %}
	<li data-id="{{asset.type}}_{{ asset.id}}" id="{{ asset.id }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
		<a href="" data-id="{{ asset.id}}" data-toggle="modal" data-target="#{{ asset.type}}Type" class="{{asset.type}}">{{ asset.title }}</a>
        <a href=""><span style="padding: 10px 10px 0; float: right;" class="glyphicon glyphicon-trash float: right;"></span>
        </a>
    </li>	
{% endfor %}
</ul>
</div>
<div class="col-md-2">
    <button id="reorder" name="submit" type="submit" class="btn btn-lg btn-success">Save Order &raquo;</button>
    <div class="spacer"></div>
</div>
</div>
</div>
  </div>
</div>
</div>
{% endblock %}