{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-success">  
    	<a class="close" data-dismiss="alert">×</a>  
        {{ flashMessage }}
        <b><a href="{{ path('entertainment_guidetothestars_category_index', {'eventId': event.id}) }}">Click Here</a></b> to view all the categories for this event.<br/>
        Or <b><a href="{{ path('entertainment_guidetothestars_category_index', {'eventId': event.id}) }}">Click Here</a>to return to the Guide To The Stars home.</b>
    </div>
{% endfor %}
<div class="container">
<ul class="breadcrumb">  
  <li>  
    <a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a> <span class="divider"></span>  
  </li>  
  <li class="active">
  	 <a href="{{ path('entertainment_guidetothestars_star_index', {'eventId': event.id}) }}">Guide To The Stars</a> <span class="divider"></span>
  </li>  
   <li class="active">
  	Create Category
  </li>  
</ul>  
<h1>Category Creation:  {{ event.eventName }}</h1>
<div id="nav">
	<p style="float:left;">
        <!-- LEFT NAV GOES HERE -->	
	</p>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-8 ">
  	<form method="post" action="" class="form-horizontal" role="form">
	<input type="hidden" name="event-id" value="{{ event.eventId }}"/>
	<div class="form-group">
		<div class="col-md-8">
		<input class="form-control input-lg" type="text" name="category-name" id="category-name" value="" size="255" required="required" placeholder="Category Name" />
		</div>
	</div>
	<div class="form-group">
   		<div class="col-sm-4"> 
			<button name="submit" value="Save" type="submit" class="btn btn-lg btn-primary">Save</button>&nbsp;&nbsp;
		</div>
  	</div>
	</div>
  </div>
</div>
{% endblock %}
