{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
<ol class="breadcrumb">  
  <li>  
    <a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a> <span class="divider"></span>  
  </li>  
  <li class="active">
  	 <a href="{{ path('entertainment_guidetothestars_star_index', {'eventId': event.id}) }}">Guide To The Stars</a> <span class="divider"></span>
  </li>  
   <li class="active">
  	View Categories
  </li>  
</ol>  
<div class="page-header">
	<h1>Categories - Guide To The Stars - <font color="blue"><a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a></font></h1>
</div>
</div>
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
<thead>
	<tr>
		<th>Category</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
{% for category in categories %}
<tr class="gradeC">
	<td class="center">{{ category.categoryName }}</td>
	<td class="center">
		 <a href="{{ path('entertainment_redcarpet_event_config', {'eventId': event.id}) }}" class="link" data-toggle="tooltip" title="">
			 <span class="glyphicon glyphicon-circle-arrow-up"></span>
		 </a>
         <a href="" class="delbtn" title="Are you sure you want to delete category {{ category.categoryName}} ???"><span class="glyphicon glyphicon-trash"></span></a>	
	</td>
</tr>
{% endfor %}
</tbody>
	<tfoot>
		<tr>			
			<th>Category</th>
			<th>Actions</th>
		</tr>
	</tfoot>
</table>
</div>
{% endblock %}
